<template>
  <div>
    <el-input
      type="textarea"
      autosize
      placeholder="Please enter title"
      v-model="title">
    </el-input>
    <div style="margin: 20px 0;"></div>
    <el-input
      type="textarea"
      :autosize="{ minRows: 2, maxRows: 4}"
      placeholder="Please enter body"
      v-model="body">
    </el-input>
    <el-button
      type="success"
      @click="save()">
      Save
    </el-button>
    <el-button
      type="danger"
      @click="backToPosts()">
      Cancel
    </el-button>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        title: '',
        body: ''
      }
    },
    methods: {
      save () {
        const self = this
        if (self.title.length <= 0 || self.body.length <= 0) {
          alert('Please enter all fields')
        } else {
          const url = `https://jsonplaceholder.typicode.com/posts`
          const data = {
            title: self.title,
            body: self.body,
            userId: 1
          }
          self.$http.post(url, data).then(response => {
            alert('Post was saved')
            this.$router.push({ name: 'Index' })
          }, response => {
            console.log('Data Error')
          })
        }
      },
      backToPosts () {
        this.$router.push({ name: 'Index' })
      }
    }
  }
</script>
