<template>
  <div>
    <el-button
      type="primary"
      @click="createPost()">
      Create Post
    </el-button>
    <el-table
      :data="itemsData"
      stripe>
      <el-table-column
        prop="body.id"
        label="ID">
      </el-table-column>
      <el-table-column
        label="Title">
        <template scope="scope">
          <a @click="currentPost(scope.row.body.id)">{{ scope.row.body.title }}</a>
        </template>
      </el-table-column>
      <el-table-column
        label="Comments">
        <template scope="scope">
          <a @click="commentsDialog(scope.row.body.id)">Comments</a>
        </template>
      </el-table-column>
      <el-table-column
        label="Author">
        <template scope="scope">
          <a @click="userDialog(scope.row.body.userId)">Author {{ scope.row.body.userId }}</a>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      layout="prev, pager, next"
      :total="100"
      :current-page.sync="currentPage">
    </el-pagination>

    <el-dialog
      title="Comments"
      :visible.sync="commentsDialogVisible"
      size="tiny">
      <el-table
        :data="postComments.body"
        stripe>
        <el-table-column
          label="postID"
          prop="postId">
        </el-table-column>
        <el-table-column
          label="Comment">
          <template scope="scope">
            {{ scope.row.body }}
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="commentsDialogVisible = false">Cancel</el-button>
      </span>
    </el-dialog>

    <el-dialog
      title="User"
      :visible.sync="userDialogVisible"
      size="tiny">
      <div><b>ID</b> : {{user.id}}</div>
      <div><b>Name</b> : {{user.name}}</div>
      <div><b>Email</b> : {{user.email}}</div>
      <div><b>Address</b> : {{user.address}}</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="userDialogVisible = false">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        itemsData: [],
        commentsDialogVisible: false,
        postComments: [],
        userDialogVisible: false,
        user: {},
        currentPage: 1
      }
    },
    mounted () {
      this.getData()
    },
    watch: {
      'currentPage': function (page) {
        this.getData(page)
      }
    },
    methods: {
      getData (page) {
        const self = this
        const postByPage = 10
        self.itemsData = []
        if (typeof page === 'undefined') {
          page = 1
        }
        for (let i = page * 10 - 9; i <= postByPage * page; i++) {
          const url = `https://jsonplaceholder.typicode.com/posts/${i}`
          self.$http.get(url).then(response => {
            self.itemsData.push(response)
          }, response => {
            console.log('Data Error')
          })
        }
      },
      commentsDialog (postId) {
        const self = this
        const commentUrl = `https://jsonplaceholder.typicode.com/posts/${postId}/comments`
        self.commentsDialogVisible = true
        self.$http.get(commentUrl).then(response => {
          self.postComments = response
        }, response => {
          console.log('Comments Error')
        })
      },
      userDialog (userId) {
        const self = this
        const userUrl = `https://jsonplaceholder.typicode.com/users/${userId}`
        self.userDialogVisible = true
        self.$http.get(userUrl).then(response => {
          const user = {
            id: response.body.id,
            name: response.body.name,
            email: response.body.email,
            address: `${response.body.address.suite} ${response.body.address.street}, ${response.body.address.city}`
          }
          self.user = user
        }, response => {
          console.log('User Error')
        })
      },
      currentPost (postId) {
        this.$router.push({ name: 'PostID', params: { id: postId } })
      },
      createPost () {
        this.$router.push({ name: 'CreatePost' })
      }
    }
  }
</script>
