<template>
  <div>
    <el-button @click="backToPosts()">Back to posts</el-button>
    <el-card class="box-card">
      <div><b>Post Title</b>: {{ postTitle }}</div>
      <div><b>Post Body</b>: {{ postBody }}</div>
      <div>
        <b>Comments:</b>
        <ul>
          <li v-for="comment in postComments">
            {{ comment.body }}
          </li>
        </ul>
      </div>
    </el-card>
  </div>
</template>

<script>
  export default {
    props: ['id'],
    data () {
      return {
        postTitle: '',
        postBody: '',
        postComments: []
      }
    },
    mounted () {
      this.getData()
    },
    methods: {
      backToPosts () {
        this.$router.push({ name: 'Index' })
      },
      getData () {
        const self = this
        const postUrl = `https://jsonplaceholder.typicode.com/posts/${this.id}`
        const commentsUrl = `https://jsonplaceholder.typicode.com/posts/${this.id}/comments`
        self.$http.get(postUrl).then(response => {
          self.postTitle = response.body.title
          self.postBody = response.body.body
        }, response => {
          console.log('Post Error')
        })
        self.$http.get(commentsUrl).then(response => {
          self.postComments = response.body
        }, response => {
          console.log('Comments Error')
        })
      }
    }
  }
</script>
